@model CmsClient.ViewModels.RegisterForm

@{
    ViewData["Title"] = "RegisterForm";
   
}

<!------ Include the above in your HEAD tag ---------->
<header>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #fff;
        }

        .register:before {
            background-image: url("https://emailonbusiness.com/wp-content/uploads/2018/01/computer-1149148_1920.jpg");
            width: 100%;
            height: 100%;
            background-size: cover;
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            display: block;
        }

       

        .register-transparent {
            background: rgba(0, 0, 0, 0.5);
            margin: auto auto;
            margin-top: 1%;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px #000;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50%;
            height:1100px;
        }

        

        .register-form {
            padding: 10%;
            margin-top: 10%;
            margin: auto, auto;
        }

        .btnRegister {
            margin-top: 10%;
            margin-left: 25%;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            background: #0062cc;
            color: #fff;
            font-weight: 600;
            width: 50%;
            cursor: pointer;
        }

        .box-size {
            width: 120px;
        }

        .captcha {
            background-color: antiquewhite;
            font-size: 24px;
            font-weight: 500;
            color: red;
            width: 150px;
            margin-right: 8px;
        }

        .register-heading {
            text-align: center;
            margin-top: 8%;
            margin-bottom: -15%;
            color: #fff;
        }

        .text-color {
            color: goldenrod;
        }

        input {
            color: #022255 !important;
        }

            input[type="email"]:focus,
            input[type="password"]:focus,
            input[type="text"]:focus {
                box-shadow: 0 0 5px rgba(246,8,118,.8);
                border: 1px solid rgba(246,8,110,.8);
            }

        .progress {
            height: 3px !important;
        }

        .form-group {
            margin-bottom: 10px;
        }

       
        
        .progress-bar-danger {
            background-color: #e90f10;
        }

        .progress-bar-warning {
            background-color: #ffad00;
        }

        .progress-bar-success {
            background-color: #02b502;
        }

        .fa-eye {
            color: #022255;
        }

        .fa-circle {
            font-size: 6px;
        }

        .fa-check {
            color: #02b502;
        }
        .icon-div {
            position: relative;
            
        }



        .show-pass {
            position: absolute;
            right: 0;
            top: 40px;
            padding-right: 10px;
        }
        .show-confirmpass {
            position: absolute;
            right: 0;
            top: 40px;
            padding-right: 10px;
        }
    </style>
</header>

<body>
    <div class="row register">
        <div class="col-md-9 register-transparent">
            <div style="float:right;">
                <a href='@Url.Action("Login","Login")' class="btn btn-light">
                    <i class="fa fa-close"></i>
                </a>
            </div>            
            <h3 class="register-heading">Sign up</h3>
            <form asp-action="Create" id="form">

                <div class="row register-form">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Firstname" class="control-label"></label><span class="text-danger">*</span>
                            <input id="firstname" asp-for="Firstname" class="form-control" placeholder="First name" />
                            <span asp-validation-for="Firstname" class="text-color"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Lastname" class="control-label"></label><span class="text-danger">*</span>
                            <input id="lastname" asp-for="Lastname" class="form-control" placeholder="Last name" />
                            <span asp-validation-for="Lastname" class="text-color"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label><span class="text-danger">*</span>
                            <input id="username" asp-for="Username" class="form-control" placeholder="User name" />
                            <span asp-validation-for="Username" class="text-color"></span>
                            <h6 class="text-color">@ViewBag.autosuggestion</h6>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label><span class="text-danger">*</span>
                            <input id="email" asp-for="Email" class="form-control" placeholder="Email" type="email" />
                            <span asp-validation-for="Email" class="text-color"></span>
                            <h6 class="text-color">@ViewBag.EmailError</h6>
                        </div>
                        @*<div class="form-group">
            <label asp-for="MobileNo" class="control-label"></label><span class="text-danger">*</span>
            <input asp-for="MobileNo" class="form-control" placeholder="Mobile number" type="text" />
            <span asp-validation-for="MobileNo" class="text-color"></span>
        </div>*@
                        <div class="form-group">
                            <div class="form-group icon-div">
                                <label for="passwordInput" asp-for="Password" class="control-label"></label><span class="text-danger">*</span>
                                <input id="password" name="password" asp-for="Password" class="form-control" placeholder="Password" type="password">
                                <span class="show-pass" onclick="Passwordtoggle()">
                                    <i class="fa fa-eye" onclick="myFunction(this)"></i>
                                </span>
                            </div>
                            <div id="popover-password">
                                <p><span id="result"></span></p>
                                <div class="progress">
                                    <div id="password-strength" class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                         style="width:0%">
                                    </div>
                                </div>
                                <ul class="list-unstyled">

                                    <li>
                                        <span class="lower-upper-case">
                                            <i class="fas fa-circle" aria-hidden="true"></i>
                                            Lowercase &amp; Uppercase
                                        </span>
                                    </li>
                                    <li>
                                        <span class="one-number">
                                            <i class="fas fa-circle" aria-hidden="true"></i>
                                            Number (0-9)
                                        </span>
                                    </li>
                                    <li>
                                        <span class="one-special-char ">
                                            <i class="fas fa-circle" aria-hidden="true"></i>
                                            Special character (!@@#$^&*)
                                        </span>
                                    </li>
                                    <li>
                                        <span class="eight-character ">
                                            <i class="fas fa-circle" aria-hidden="true"></i>
                                            Atleast 8 characters
                                        </span>
                                    </li>
                                </ul>

                            </div>
                            @*<span asp-validation-for="Password" class="text-color"></span>*@
                        </div>
                        <div class="form-group icon-div">
                            <label asp-for="ConfirmPassword" class="control-label"></label><span class="text-danger">*</span>
                            <input id="confirmpassword" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" type="password" />
                            <span class="show-confirmpass" onclick="ConfirmPasswordtoggle()">
                                <i class="fa fa-eye" onclick="myFunction(this)"></i>
                            </span>
                            <span asp-validation-for="ConfirmPassword" class="text-color"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SecurityQuestion" class="control-label"></label><span class="text-danger">*</span>
                            <select asp-for="SecurityQuestion" class="form-control">
                                <option class="hidden" selected disabled>Please select your security question</option>
                                <option>What was the name of the first school you remember attending?</option>
                                <option>What is the name of a college you applied to but didn’t attend?</option>
                                <option>Where was the destination of your most memorable school field trip?</option>
                                <option>What was the name of your first stuffed toy?</option>
                            </select>
                            <span asp-validation-for="SecurityQuestion" class="text-color"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Answer" class="control-label"></label><span class="text-danger">*</span>
                            <input asp-for="Answer" class="form-control" placeholder="Enter your answer" />
                            <span asp-validation-for="Answer" class="text-color"></span>
                        </div>
                        <div class="form-group">
                            <label>Captcha</label><span class="text-danger">*</span>
                            <div class="input-group">
                                <span class="captcha input-group-prepend"><i>@ViewBag.captcha1 + @ViewBag.captcha2 = ?</i></span>
                                <span><input id="captcha" asp-for="Captcha" class="form-control box-size" style="margin-right:8px;" /></span>
                                <span><a href="https://localhost:44338/User/Create" class="fa fa-redo-alt fa-2x input-group-append"></a></span>
                                <span asp-validation-for="Captcha" class="text-color"></span>
                                <h6 class="text-color">@ViewBag.captchaError</h6>
                            </div>

                        </div>

                        <div class="form-group">
                            <label asp-for="resultCaptcha" class="control-label" hidden></label>
                            <input asp-for="resultCaptcha" class="form-control" value="@ViewBag.resultCaptcha" hidden />
                            <span asp-validation-for="resultCaptcha" class="text-color"></span>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Register" class="btnRegister" />
                            </div>
                        </div>
                        @*@if (ViewBag.captchaError != null)
                        {
                            <div class="form-group">
                                <div>
                                    <input type="submit" value="Register" class="btnRegister" disabled />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div>
                                    <input type="submit" value="Register" class="btnRegister" />
                                </div>
                            </div>

                        }*@

                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    <script src="https://kit.fontawesome.com/3d965b886b.js" crossorigin="anonymous"></script>
    <script src="~/js/PasswordStrength.js"></script>
    <script>
        
        $(document).ready(function () {
            const i = document.querySelector('#captcha');
            const f = document.querySelector('#form');
            i.addEventListener('keydown', function (event) {
                if (event.keyCode === 13) {
                    f.submit();
                }

            });
            document.addEventListener('keydown', function (event) {
                if (event.keyCode === 13 && event.target.nodeName === 'INPUT' || event.target.nodeName === 'SELECT') {
                    event.preventDefault();
                    var form = event.target.form;
                    var index = Array.prototype.indexOf.call(form, event.target);
                    form.elements[index + 1].focus();


                }
            });
            

        });

        //disable copy/paste in html fields
        window.onload = () => {
            const confirmpassword = document.getElementById('confirmpassword');
            confirmpassword.onpaste = e => e.preventDefault();
        }


        //clear input fields on page refresh
        
        //window.onload = function () {
        //    document.getElementById('captcha').value = '';
           
            
        //}

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
